.botonGuardado1{
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #DBDC26;
    color: #202020;
    font-size: 16px;
    width: 100%;
    border-radius:14px 0px 14px 14px;
    text-align: center;
    
}

.botonGuardado2{
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #DBDC26;
    color: #202020;
    font-size: 16px;
    width: 100%;
    border-radius:0px 14px 14px 14px;
    text-align: center;
    
}


