.indexFondo{
    background-image: url("../img/fondo1.png");
    @include padding;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.premioFondo{
    background-image: url("../img/fondo3.png");
    @include padding;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    min-height: 100vh;
}

img{
    width: 100%;
}

.boton{

}

::-webkit-scrollbar {
    display: none;
}


header{
    z-index: 99;
}
footer{
    z-index: 99;
}