.puntosP{
    font-size: 500;
    color: #D9D9D9;
    text-decoration: underline;
}

p, ul, li, ol{
    margin: 0;
    padding: 0;
}
.premiosC{
    height: auto;
    width: 200px;
}

.body{
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.puntosR{
    position: absolute;
    bottom: 0px;
    left: 0%;
    top: 0px;

    z-index: 3;

}